

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Name: <%= @employee.name %></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Designation: <%= @employee.designation %></h5>
    <strong>Age:</strong>
    <%= @employee.age %>
    <br>
    <strong>Gender:</strong>
    <%= @employee.gender %>
  </div>
</div>

<%= link_to 'Edit', edit_employee_path(@employee), class:"btn btn-outline-success" %>
<%= link_to 'Back', employees_path, class:"btn btn-outline-danger" %>
